@font-face {
    font-family: 'Title-ChatBot';
    src: url('../../assets/font/conthrax-bold-italic.otf');
  }
  ::-webkit-scrollbar {
    display: none;
    }
.img-logo-bot{
    width: 80px;
    height: 80px;
    position: fixed;
    bottom: 0%;
    right: 0%;
    margin-bottom: 40px;
    margin-right: 40px;
}
.btn-logo{
    border-width: .1px;
    border-style: solid;
    border-color: transparent;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
    position: fixed;
    bottom: 0%;
    right: 0%;
    margin-bottom: 50px;
    margin-right: 50px;
}
.chat{
    border-width: 1px;
    border-style: solid;
    border-color: #C92E2E;
    width: 380px;
    min-height: 500px;
    border-radius: 10px;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.5);
    position: fixed;
    bottom: 0%;
    right: 0%;
    margin-bottom: 40px;
    margin-right: 40px;
    background-color: #f8f8f8;
}
.titulo-bot{
    font-family: 'Title-ChatBot';
    margin-top: 10px;
    font-weight: bold;
    border: #fff;
    -webkit-text-stroke: .5px #fff;
    text-shadow: 2px 2px 2px #484848;
    font-size: 25px;
}
.titulo-bot .titulo-parte1{
    color: #2E5499;
    font-weight: bold;
    display: inline-block;
}
.titulo-bot .titulo-parte2{
    color: #448F71;
    font-weight: bold;
    display: inline-block;
}
.img-cerrar-chat{
    width: 20px;
    position: fixed;
    bottom: 0%;
    right: 0%;
    margin-bottom: 500px;
    margin-right: 60px;
}
.btn-cerrar{
    width: 20px;
    position: fixed;
    bottom: 0%;
    right: 0%;
    margin-bottom: 500px;
    margin-right: 60px;
    border-width: .1px;
    border-style: solid;
    border-color: transparent;
}
.img-preguntas-chat{
    width: 30px;
    position: fixed;
    bottom: 0%;
    right: 0%;
    margin-bottom: 440px;
    margin-right: 420px;
}
.msg-bot{
    padding: 10px;
    background-color: #fff;
    margin-top: 10px;
    width: 378px;
    position: fixed;
    overflow-y: scroll;
}
.ans-bot{
    border-width: 1px;
    border-style: solid;
    border-color: #C92E2E;
    border-radius: 10px;
    background-color: #fff;
    width: 380px;
    position: fixed;
    right: 40px;
    padding: 15px 5px 15px 5px;
}
.input-ans-bot{
    border-width: 1px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    width: 250px;
    margin-left: 15px;
    border: none;
    outline: none;
}
.btn-enviar{
    padding: 0px;
    margin: 0px;
}
.btn-preguntas{
    position: fixed;
    bottom: 0%;
    right: 0%;
    border-width: .1px;
    border-style: solid;
    border-color: transparent;
}
.faq{
    width: 180px;
    min-height: 200px;
    border-radius: 10px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.3);
    position: fixed;
    bottom: 0%;
    right: 0%;
    margin-bottom: 270px;
    margin-right: 430px;
    background-color: #f8f8f8;
    padding: 5px;
}
.tittle-faq{
    margin: 5px;
    margin-left: 5px;
    color: #C92E2E;
    font-weight: bold;
    font-size: 13px;
}
.img-cerrar-preguntas-chat{
    width: 15px;
}
.btn-cerrar-faqs{
    border-width: .1px;
    border-style: solid;
    border-color: transparent;
    background-color: transparent;
    width: 15px;
    margin-bottom: 440px;
    margin-right: 450px;
}
.global {

    padding: 10px;
	height: 380px;
	background: #fff;
	overflow-y: scroll;
}
#mensajes {
    height: 300px;
	background: #fff;
	height: auto;
}
.bot-resp{
    background-color: rgb(232, 255, 195);
    margin-right: 25%;
    padding: 5px 15px;
    border-radius: 10px;
    margin-top: 5px;
    /* margin-bottom: 10px; */
}
.user-resp{
    background-color: rgb(248, 248, 248);
    margin-left: 25%;
    padding: 5px 15px;
    border-radius: 10px;
    margin-top: 5px;
}
.hora_mensajes{
    text-align: right;
    font-size: x-small;
}