@font-face {
    font-family: 'Title-ChatBot';
    src: url('../../assets/font/conthrax-bold-italic.otf');
  }

.img-logo-bot{
    width: 90px;
    height: 90px;
    position: fixed;
    bottom: 0%;
    right: 0%;
    margin-bottom: 40px;
    margin-right: 40px;
}
.btn-logo{
    border-width: .1px;
    border-style: solid;
    border-color: transparent;
    width: 70px;
    height: 70px;
    border-radius: 100px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
    position: fixed;
    bottom: 0%;
    right: 0%;
    margin-bottom: 50px;
    margin-right: 50px;
}
.chat{
    border-width: 1px;
    border-style: solid;
    border-color: #C92E2E;
    width: 380px;
    min-height: 500px;
    border-radius: 10px;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.5);
    position: fixed;
    bottom: 0%;
    right: 0%;
    margin-bottom: 50px;
    margin-right: 150px;
    background-color: #f8f8f8;
}
.titulo-bot{
    font-family: 'Title-ChatBot';
    margin-top: 10px;
    margin-left: 20px;
}
.titulo-bot .titulo-parte1{
    color: #2E5499;
    font-weight: bold;
    display: inline-block;
    font-size: 20px;
}
.titulo-bot .titulo-parte2{
    color: #448F71;
    font-weight: bold;
    display: inline-block;
    font-size: 20px;
}
.img-logo-espe{
    width: 50px;
    height: 50px;
}
.img-cerrar-chat{
    width: 20px;
    position: fixed;
    bottom: 0%;
    right: 0%;
    margin-bottom: 510px;
    margin-right: 170px;
}
.btn-cerrar{
    width: 20px;
    position: fixed;
    bottom: 0%;
    right: 0%;
    margin-bottom: 510px;
    margin-right: 170px;
    border-width: .1px;
    border-style: solid;
    border-color: transparent;
}
.img-preguntas-chat{
    width: 30px;
    position: fixed;
    bottom: 0%;
    right: 0%;
    margin-bottom: 450px;
    margin-right: 530px;
}
.msg-bot{
    padding: 10px;
    background-color: #fff;
    margin-top: 10px;
    width: 378px;
    min-height: 380px;
    position: fixed;
}
.ans-bot{
    border-width: 1px;
    border-style: solid;
    border-color: #C92E2E;
    border-radius: 10px;
    background-color: #fff;
    margin-top: 369px;
    width: 380px;
    position: fixed;
    right: 150px;
    padding: 15px 5px 15px 5px;
}
.input-ans-bot{
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    width: 300px;
}
.btn-enviar{
    padding: 0px;
}
.btn-preguntas{
    position: fixed;
    bottom: 0%;
    right: 0%;
    border-width: .1px;
    border-style: solid;
    border-color: transparent;
}
.faq{
    width: 180px;
    min-height: 200px;
    border-radius: 10px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.3);
    position: fixed;
    bottom: 0%;
    right: 0%;
    margin-bottom: 280px;
    margin-right: 540px;
    background-color: #f8f8f8;
    padding: 5px;
}
.tittle-faq{
    color: #C92E2E;
    text-align: center;
    font-weight: bold;
}